<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloadManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DownloadManager.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DownloadManager.Settings>
            <setting name="defaultDownload" serializeAs="String">
                <value />
            </setting>
            <setting name="closeOnComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="soundOnComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="soundOnMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDownloadToolWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="notifyDone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyDoneHashOk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyDoneHashNo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyFail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoDownloadAttempts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="trayOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsAreUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxServerFailureCount" serializeAs="String">
                <value>5</value>
            </setting>
        </DownloadManager.Settings>
        <Settings1>
            <setting name="defaultDownload" serializeAs="String">
                <value />
            </setting>
            <setting name="closeOnComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="soundOnComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="soundOnMessage" serializeAs="String">
                <value>True</value>
            </setting>
        </Settings1>
        <DownloadManager.Settings1>
            <setting name="defaultDownload" serializeAs="String">
                <value />
            </setting>
            <setting name="closeOnComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="soundOnComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="soundOnMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDownloadToolWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </DownloadManager.Settings1>
    </userSettings>
</configuration>